@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:wght@700&display=swap');

/* ---------------------------------------- */
/* Global Styles */

html {
    
}

/* Fonts */

h1,h2,h3,h4,h5,h6 {
    font-family: 'Libre Baskerville', serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/* Spacing */

.full-height {
    height: 100vh;
}

.above-text{
    margin-top: 200px;
    text-align: center;
}

/* ---------------------------------------- */
/* Components */


button {
    border: none;
    padding: 16px 20px;
    border-radius: 8px;
    background: #18382B;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
}

/* ---------------------------------------- */
/* Bootstrap Component Overrides */


/* Navigation */

.nav-link {
    font-family: 'Lato', sans-serif;
    color: rgba(0, 0, 0, 0.6);

}

.nav-link:hover {
    color: #18382B;
}

.nav-link.active {
    border-bottom: 2px solid #18382B;
    color: #18382B;
}


/* Carousel */

.carousel-item {
    background-color: #E6F2E9;
}

.carousel-control-next, .carousel-control-prev {
    top: auto;
    right: auto;
    left: 24px;
    bottom: 24px;
    width: auto;
    background-color: white;
    padding: 12px;
    border-radius: 50%;
}

.carousel-control-next {
    left: 84px;
}


/* Card */

.card {
    border-radius: 150px 150px 12px 12px;
    background: #F3F3F3;
    text-align: center;
    height: 440px;
    border: none;
}

.card-img-top {
    width:auto;
    height:320px;
    margin: auto;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1); 
}

.card-img-top.small {
    height:200px;
}

.card-text {
    color: #18382B;
}




/* ---------------------------------------------------------------- */
/* Home Page */

.hero-image {
    height: 90vh; 
    position: relative;
    bottom: -100px;
}

header {
    margin-top: 100px;
}

.line{
    height: 60px;
    
}

.small {
    height: 65vh;
    position: relative;
    margin-top: -150px;
}


/* ---------------------------------------------------------------- */
/* Accordion */

.accordion {
    width:  85vh;
    margin-left: 50px;

}

.accordion-button {
    background-color: #18382B;
    color: #FFF;
}

button.accordion-button {
    background-color: #18382B;
    color: #FFF;
}

.accordion-body {
    background-color: #E6F2E9;
    color: black;
}

.image-accordion {
    width: 400px;
    height: 400px;
    padding-right: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left: 95vh;
    margin-top: -340px;
    
}

/* Assessment Table overrides */

.table {
    margin-top: 20vh;
}

td {
    padding: 100px;
}

.center {
    text-align: center;
    margin-left: -490px;
}

.remove-icon {
    width: 80px;
    height: 80px;
    position: relative;
    background-image: url("../assets/remove-itempng.png");
    background-position: center;
    background-size: cover;
}
.remove-icon:hover {
    width: 80px;
    height: 80px;
    position: relative;
    background-image: url("../assets/remove-itempngHOVER.png");
    border: black 2px;
}